// h1 {
//     font-family: x-locale-heading-primary,zillaslab,Palatino,"Palatino Linotype",x-locale-heading-secondary,serif;
// }
// h2 {
//     font-size: 2.33333rem;
//     font-family: x-locale-heading-primary,zillaslab,Palatino,"Palatino Linotype",x-locale-heading-secondary,serif;
// }
// p {
//     font-size: 1.2rem;
// }
img {
    width: 100%;
}
a {
    color: #2773eb;
    text-decoration: none;
}
ul {
    margin-left: 10px;
}
.header-anchor {
    display: none;
}
.non-link {
    text-decoration:none;
    out-line: none;
    color: rgba(0,0,0,.84);
}
body {
    margin: 0;
    font-family: "Roboto", sans-serif;
}
.content {
    h1 {
        margin: 10px 0px 20px 0px;
        font-size:36px;
    }
    h2 {
        margin: 12px 0px 6px 0px;
        font-size:30px;
        font-weight: 400;
    }
    h3 {
        margin: 4px 0px 0px 0px;
        font-size:20px;
        font-weight: 400;
    }
    img {
        display: block;
        margin: 20px auto;
        width: 60%;
    }
    code {
        // display: block;
    }
    pre {
        overflow: scroll;
    }
}
.index-content {
    h1 {
        margin: 0px 0px 14px 0px;
        font-size:24px;
    }
    h2 {
        margin: 4px 0px 4px 0px;
        font-size:22px;font-weight: 400;
    }
    h3 {
        margin: 4px 0px 0px 0px;
        font-size:18px;
        font-weight: 400;
    }
    img {
        display: block;
        margin: 20px auto;
        width: 50%;
    }
    pre {
        overflow: scroll;
    }
}

::selection{
    background: #262a30;
    color: #fff;
}
