// h1 {
//     font-family: x-locale-heading-primary,zillaslab,Palatino,"Palatino Linotype",x-locale-heading-secondary,serif;
// }
// h2 {
//     font-size: 2.33333rem;
//     font-family: x-locale-heading-primary,zillaslab,Palatino,"Palatino Linotype",x-locale-heading-secondary,serif;
// }
// p {
//     font-size: 1.2rem;
// }
a {
    color: #2773eb;
    text-decoration: none;
}
ul {
    margin-left: 10px;
}
.header-anchor {
    display: none;
}
.non-link {
    text-decoration:none;
    out-line: none;
    color: rgba(0,0,0,.84);
}
body {
    margin: 0;
    font-family: "Roboto", sans-serif;
}